<div *ngIf="inRoom;then room else roomConfig"></div>

<ng-template #room>
  Connected Players:
  <div *ngFor="let user of users">
    <br>
    {{ user.userName }}
  </div>
  <button mat-button *ngIf="roomHost" (click)="startGame()">Start Game</button>
</ng-template>

<ng-template #roomConfig>
  <form>
    <h2 *ngIf="roomHost">Create a room:</h2>
    <h2 *ngIf="!roomHost">Join a room:</h2>
    <mat-form-field>
      <input matInput name="roomName" [(ngModel)]="roomName" placeholder="Room Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="userName" [(ngModel)]="userName" placeholder="User Name">
    </mat-form-field>
    <br>
    <button mat-button *ngIf="roomHost" (click)="createGame()">Create Game</button>
    <button mat-button *ngIf="!roomHost" (click)="joinGame()">Join Game</button>
  </form>
</ng-template>
